<div id="post-show-content" class="skinny-wrapper wrapper-padding">
        <header>
            <p class="date"><%= @post.created_at.strftime("%A, %B %d") %></p>
            <h1><%= @post.title %></h1>
            <hr>
        </header>
        <div id="content">
            <%= @post.content %>
        </div>
        <hr>
        <div id="share-box">
            <p>Share the <%= @post.title %></p>
            <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @saqibroy - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
            <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <hr>
    </div>
